body, h1, p, form {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', Arial, sans-serif;
}

a{
    color: #363636;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #81f68b;
}

/*********************************************************************************/
.login-form {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: rgb(236, 236, 236);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #363636;
    text-align: center;
}

p {
    margin-bottom: 12px;
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.google-a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.google-button {
    display: flex;
    width: 60%;
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
    background-color: #d21b34;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    transition: background-color 0.3s;
}

.google-button:hover {
    background-color: #b11114;
}

.google-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.5);
}

.google-button:active {
    background-color: #e62a31;
}

.google-button-text {
    flex: 1;
    text-align: center;
}

/*******************************************************************************/
input[type="text"], input[type="password"], input[type='email'], input[type=education_level]{
    width: 80%;
    padding: 8px;
    margin-top: 8px;
    border: 1px solid #b4b4b4;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
}

.form-control {
    width: 84%;
    padding: 8px;
    border: 1px solid #959595;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Space Mono', monospace;
    margin-top: 8px;
}

input[type="submit"] {
    padding: 10px 64px;
    background-color: #4285f4;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
}

input[type="submit"]:hover {
    background-color: #004ecb;
}

form p {
    color: rgb(31, 31, 31);
}

/***************************************************************************/
.logout-button {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

.logout-button:hover,
.logout-button:focus {
    text-decoration: none;
    color: darkblue;
}
