{% extends "base.html" %}

{% block title %}Logowanie{% endblock title %}

{% block content %}
<h1>Zaloguj się i odblokuj </br>całą bazę wiedzy</br> z Knowli.</h1>
{% if form.errors %}
    <p>
        Niepoprawna nazwa użytkownika lub hasło.
    </p>
{% endif %}
<div class='login-form'>
    <form action='{% url "login" %}' method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <input type='hidden' name='next' value='{{ next }}'>
        <p><input type='submit' value='zaloguj'></p>
    </form>
    <div class='google'>
        <a href="{% url 'social:begin' 'google-oauth2' %}">
            Zaloguj się z Google
        </a>
    </div>
    <p><a href='{% url "register" %}'>Załóż konto!</a></p>
    <p><a href='{% url "password_reset" %}'>Zresetuj hasło</a></p>
</div>

{% endblock content %}