{% extends "learn_base.html" %}
{% load static %}

{% block title %}Knowli{% endblock title %}

{% block content %}
    <div class='content-container'>
        <div class='content'>
            <p>Witaj w <b>Knowli</b> - aplikacji, która pomoże Ci najszybciej osiągnąć Twoje matematyczne cele.</p>
            <br>
            <p>Załóż konto, żeby w pełni wykorzystać potencjał Knowli i zyskać dostęp do wszystkich materiałów.</p>
            <br>
            <p>Kliknij <b><i>kursy</i></b>, w celu odkrycia dostępnych kursów, lub <b><i>arkusze</i></b>, w celu otrzymania dostępu do egzaminów państwowych z ostatnich lat.</p>
            <br>
            <p>Każdy z testów został przygotowany tak, aby następne zadania stale zwiększały poziom trudności 
                a wiedza zdobyta w trakcie ich rozwiązywania przekładała się na Twój progres.</p>
        </div>
    </div>
{% endblock content %}