{% extends 'learn_base.html' %}
{% load static %}

{% block title %}Addition Test{% endblock title %}

{% block content %}
<div class="test-form">
    <h1>Addition Test for First Graders</h1>
    
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
        </div>
        {% endfor %}
        
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock content %}